<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      background-color: #DFDFDF;
      font-family: 'Roboto', sans-serif;
      font-size: 16px;

      padding-bottom: 5em;
    }

    .box {
      width: 700px;
      margin: 0 auto;

      position: relative;
      top: 50px;
      background-color: #fafafa;

      display: flex;

      flex-direction: column;
      align-items: center;

      border-radius: 8px;
    }

    .box>h2 {
      font-size: 2rem;
      margin: 0.4em 0;
      font-weight: 500;
      color: #000;
    }

    .box .top {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .box .top>h1 {
      font-size: 2rem;
      font-weight: 400;

      margin: 0.75em 0 0.05em;
      color: #444;
    }

    .box .top>p {
      font-size: 1.25rem;
      font-weight: 300;

      color: #A8AABC;
      margin-bottom: 1em;
    }

    .box .text {
      max-width: 60%;

      font-weight: 400;

      color: #444;
      font-size: 1rem;

      margin-bottom: 2.25em;
    }

    .box .code {
      font-weight: 700;

      color: #333;
      font-size: 2.5rem;

      letter-spacing: 0.4em;

      margin-bottom: 1.25em;
    }

    .box .bottom {
      width: 60%;
      margin: 0.5em auto 1.25em;
    }

    .box .bottom>.help-text {
      font-weight: 400;
      color: #444;
      font-size: 1rem;

      margin-bottom: 0.25em;
    }

    .box .bottom>.help-mail {
      font-weight: 300;
      color: #A8AABC;
      font-size: 1rem;

      margin-bottom: 1em;
    }

    .box .bottom>.github-link {
      font-size: 1rem;
      color: #444;
    }

    .divisor::after {
      content: '';
      position: absolute;
      height: 1px;
      width: 60%;
      background-color: #ccc;
      left: 50%;
      transform: translateX(-50%);
    }
  </style>
</head>

<body>
  <div class='box'>
    <h2>Auth API</h2>

    <div class="divisor"></div>

    <div class='top'>
      <h1>Código de confirmação</h1>
      <p>Obrigado por usar nossos serviços</p>
    </div>

    <p class='text'>Insira o seguinte código na sua conta para confirmar a conta:</p>

    <div class='code'>{{code}}</div>

    <div class="divisor"></div>

    <div class='bottom'>
      <p class='help-text'>Problemas do serviço? Contate-nos</p>
      <p class='help-mail'>help@authapi.com</p>

      <a href="http://github.com/matheusinit/authetication-api" target="_blank" rel="noopener noreferrer"
        class='github-link'>Github</a>
    </div>
  </div>
</body>

</html>